.App {
	padding: 0;
	margin: 0;
}

.App-logo {
	width: 90%;
	background-color: white;
	text-align: center;
	margin: 0 5vw;
}

.App-byline {
	text-align: center;
	font-size: large;
	font-size: 5vw;
	font-family: 'Roboto', sans-serif;
}

.App-contactDialog {
	min-height: 400px;
	background-color: rgba(96, 125, 139, 0.34);
	margin: 0;
	border: 1px solid transparent;/* hack to ge rid of whitespace at top of dialog*/
}

.App-contactDialog > h1 {
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	margin-top: 60px;
	margin-bottom: 0;
}

.App-contactDialog-form {
	display: block;
	width: 300px;
	padding: 30px 0 30px 30px;
	margin: 0 auto;
}

.App-contactDialog-actions {
	text-align: center;
}

.App-actions {
	text-align: center;
}
