.App {
  text-align: center;
}

.App-logo {
	width: 70%;
	max-width: 90%;
}


.App-intro {
  font-size: large;
}

.App-contactForm {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.App-contactForm > div {
	margin: 50%;
}

.App-dialog {
	overflow: scroll;
	min-height: 400px;
}

.App-dialog-logo {
	width: 400px;
	position: absolute;
	right: 20px;
	top: 40px;
}

@media (max-width: 414px) {
	.App-dialog-logo {
		width: 100px;
		top: 12px;
		right: 12px;
	}
}

@media (max-width: 320px) {
	.App-dialog div {

	}
}